<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Video</title>
</head>
<body>
    <h1>Upload Video</h1>

    <!-- 如果有视频上传成功，显示视频预览 -->
{#    {% if video_url %}#}
{#    <video controls width="600" >#}
{#        <source src="{{ video_url }}" type="video/mp4">#}
{#        Your browser does not support the video tag.#}
{#     </video>#}
{#    {% else %}#}
{#    <p>No video uploaded yet.</p>#}
{#    {% endif %}#}

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <button type="submit">Upload</button>
    </form>


</body>
</html>
